@model COMP2084___A1.Models.EcoScoreTally

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EcoScoreTally</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Removal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Removal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reuse)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EcoScoreId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
