@model COMP2084___A1.Models.EcoScoreTally

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EcoScoreTally</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Removal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Removal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reuse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EcoScoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
